In [5]:
import pandas as pd

# Rain data

In [4]:
rain = pd.read_csv('data/rain_data_aus.csv',sep = ',')

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,...,temp9am,temp3pm,raintoday,amountOfRain,raintomorrow,temp,humidity,precipitation3pm,precipitation9am,modelo_vigente
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,71.0,22.0,1007.7,...,16.9,21.8,No,0.0,No,29.48,28.400000,12,5.115360,0.089825
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,44.0,25.0,1010.6,...,17.2,24.3,No,0.0,No,32.12,2.208569,10,21.497100,0.023477
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,38.0,30.0,1007.6,...,21.0,23.2,No,0.0,No,32.84,38.000000,17,20.782859,0.027580
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,45.0,16.0,1017.6,...,18.1,26.5,No,1.0,No,35.60,21.200000,8,12.028646,0.023962
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,82.0,33.0,1010.8,...,17.8,29.7,No,0.2,No,40.76,41.600000,9,11.883546,0.220164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,59.0,27.0,1024.7,...,9.4,20.9,No,0.0,No,28.16,34.400000,12,5.848681,0.002556
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,51.0,24.0,1024.6,...,10.1,22.4,No,0.0,No,30.08,30.800000,10,6.653879,0.002053
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,56.0,21.0,1023.5,...,10.9,24.5,No,0.0,No,32.36,27.200000,9,19.715976,0.023350
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,53.0,24.0,1021.0,...,12.5,26.1,No,0.0,No,34.28,30.800000,12,0.985551,0.007195
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,51.0,24.0,1019.4,...,15.1,26.0,No,0.0,No,34.40,30.800000,15,4.381481,0.018811

# Removing NA

In [28]:
rain.isna().sum()

date                0
location            0
mintemp             0
maxtemp             0
rainfall            0
humidity9am         0
humidity3pm         0
pressure9am         0
pressure3pm         0
temp9am             0
temp3pm             0
raintoday           0
amountOfRain        0
raintomorrow        0
temp                0
humidity            0
precipitation3pm    0
precipitation9am    0
modelo_vigente      0
dtype: int64

In [27]:
rain = rain[['date', 'location', 'mintemp', 'maxtemp', 'rainfall','humidity9am', 'humidity3pm', 'pressure9am', 'pressure3pm','temp9am', 'temp3pm', 'raintoday','amountOfRain', 'raintomorrow', 'temp', 'humidity', 'precipitation3pm','precipitation9am', 'modelo_vigente']]
rain.dropna(inplace=True)

# Mudar para bolleano

In [29]:
rain

,date,location,mintemp,maxtemp,rainfall,humidity9am,humidity3pm,pressure9am,pressure3pm,temp9am,temp3pm,raintoday,amountOfRain,raintomorrow,temp,humidity,precipitation3pm,precipitation9am,modelo_vigente
0,2008-12-01,Albury,13.4,22.9,0.6,71.0,22.0,1007.7,1007.1,16.9,21.8,No,0.0,No,29.48,28.400000,12,5.115360,0.089825
1,2008-12-02,Albury,7.4,25.1,0.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,0.0,No,32.12,2.208569,10,21.497100,0.023477
2,2008-12-03,Albury,12.9,25.7,0.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,0.0,No,32.84,38.000000,17,20.782859,0.027580
3,2008-12-04,Albury,9.2,28.0,0.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,1.0,No,35.60,21.200000,8,12.028646,0.023962
4,2008-12-05,Albury,17.5,32.3,1.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,0.2,No,40.76,41.600000,9,11.883546,0.220164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,59.0,27.0,1024.7,1021.2,9.4,20.9,No,0.0,No,28.16,34.400000,12,5.848681,0.002556
142189,2017-06-21,Uluru,2.8,23.4,0.0,51.0,24.0,1024.6,1020.3,10.1,22.4,No,0.0,No,30.08,30.800000,10,6.653879,0.002053
142190,2017-06-22,Uluru,3.6,25.3,0.0,56.0,21.0,1023.5,1019.1,10.9,24.5,No,0.0,No,32.36,27.200000,9,19.715976,0.023350
142191,2017-06-23,Uluru,5.4,26.9,0.0,53.0,24.0,1021.0,1016.8,12.5,26.1,No,0.0,No,34.28,30.800000,12,0.985551,0.007195
142192,2017-06-24,Uluru,7.8,27.0,0.0,51.0,24.0,1019.4,1016.5,15.1,26.0,No,0.0,No,34.40,30.800000,15,4.381481,0.018811