In [2]:
import pandas as pd

# Rain data

In [3]:
rain = pd.read_csv('data/rain_data_aus.csv',sep = ',')
rain.head(50)

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,...,temp9am,temp3pm,raintoday,amountOfRain,raintomorrow,temp,humidity,precipitation3pm,precipitation9am,modelo_vigente
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,71.0,22.0,1007.7,...,16.9,21.8,No,0.0,No,29.480000,28.400000,12,5.115360,0.089825
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,44.0,25.0,1010.6,...,17.2,24.3,No,0.0,No,32.120000,2.208569,10,21.497100,0.023477
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,38.0,30.0,1007.6,...,21.0,23.2,No,0.0,No,32.840000,38.000000,17,20.782859,0.027580
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,45.0,16.0,1017.6,...,18.1,26.5,No,1.0,No,35.600000,21.200000,8,12.028646,0.023962
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,82.0,33.0,1010.8,...,17.8,29.7,No,0.2,No,40.760000,41.600000,9,11.883546,0.220164
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,55.0,23.0,1009.2,...,20.6,28.9,No,0.0,No,37.640000,29.600000,8,17.320994,0.056883
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,49.0,19.0,1009.6,...,18.1,24.6,No,0.0,No,32.000000,24.800000,8,19.791271,0.030004
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,48.0,19.0,1013.4,...,16.3,25.5,No,0.0,No,34.040000,24.800000,7,7.207085,0.023000
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,42.0,9.0,1008.9,...,18.3,30.2,No,1.4,Yes,40.280000,12.800000,19,1.540702,0.414649
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,58.0,27.0,1007.0,...,20.1,28.2,Yes,0.0,No,38.120000,34.400000,7,8.259833,0.064945
10,2008-12-11,Albury,13.4,30.4,0.0,NaN,NaN,48.0,22.0,1011.8,...,20.4,28.8,No,2.2,Yes,38.480000,28.400000,13,4.762301,0.376101
11,2008-12-12,Albury,15.9,21.7,2.2,NaN,NaN,89.0,91.0,1010.5,...,15.9,17.0,Yes,15.6,Yes,28.040000,111.200000,6,12.383105,0.957884
12,2008-12-13,Albury,15.9,18.6,15.6,NaN,NaN,76.0,93.0,994.3,...,17.4,15.8,Yes,3.6,Yes,24.320000,113.600000,15,5.203499,0.967453
13,2008-12-14,Albury,12.6,21.0,3.6,NaN,NaN,65.0,43.0,1001.2,...,15.8,19.8,Yes,0.0,No,27.200000,53.600000,14,2.961182,0.182020
14,2008-12-16,Albury,9.8,27.7,NaN,NaN,NaN,50.0,28.0,1013.4,...,17.3,26.2,NaN,0.0,No,35.240000,35.600000,7,4.805758,0.102688
15,2008-12-17,Albury,14.1,20.9,0.0,NaN,NaN,69.0,82.0,1012.2,...,17.2,18.1,No,16.8,Yes,27.080000,100.400000,12,4.631746,0.781965
16,2008-12-18,Albury,13.5,22.9,16.8,NaN,NaN,80.0,65.0,1005.8,...,18.0,21.5,Yes,10.6,Yes,29.480000,80.000000,11,13.024549,0.678116
17,2008-12-19,Albury,11.2,22.5,10.6,NaN,NaN,47.0,32.0,1009.4,...,15.5,21.0,Yes,0.0,No,29.000000,40.400000,7,10.013286,0.015983
18,2008-12-20,Albury,9.8,25.6,0.0,NaN,NaN,45.0,26.0,1019.2,...,15.8,23.2,No,0.0,No,32.720000,33.200000,10,10.099062,0.005824
19,2008-12-21,Albury,11.5,29.3,0.0,NaN,NaN,56.0,28.0,1019.3,...,19.1,27.3,No,0.0,No,37.160000,35.600000,9,3.292542,0.002169
20,2008-12-22,Albury,17.1,33.0,0.0,NaN,NaN,38.0,28.0,1013.6,...,24.5,31.6,No,0.0,No,41.600000,35.600000,12,19.268562,0.066832
21,2008-12-23,Albury,20.5,31.8,0.0,NaN,NaN,54.0,24.0,1007.8,...,23.8,30.8,No,0.0,No,40.160000,30.800000,14,11.252786,0.030051
22,2008-12-24,Albury,15.3,30.9,0.0,NaN,NaN,55.0,23.0,1011.0,...,20.9,29.0,No,0.0,No,39.080000,29.600000,20,11.412993,0.064179
23,2008-12-25,Albury,12.6,32.4,0.0,NaN,NaN,49.0,17.0,1012.9,...,21.5,31.2,No,0.0,No,40.880000,22.400000,8,14.460928,0.009980
24,2008-12-26,Albury,16.2,33.9,0.0,NaN,NaN,45.0,19.0,1010.9,...,23.2,33.0,No,0.0,No,42.680000,24.800000,7,12.488002,0.086292
25,2008-12-27,Albury,16.9,33.0,0.0,NaN,NaN,41.0,28.0,1006.8,...,26.6,31.2,No,0.0,No,2.929687,35.600000,18,3.839560,0.056844
26,2008-12-28,Albury,20.1,32.7,0.0,NaN,NaN,56.0,15.0,1005.2,...,24.6,32.1,No,0.0,No,41.240000,20.000000,15,5.332158,0.062647
27,2008-12-29,Albury,19.7,27.2,0.0,NaN,NaN,49.0,22.0,1004.8,...,21.6,26.1,No,1.2,Yes,34.640000,28.400000,12,13.767887,0.400980
28,2008-12-30,Albury,12.5,24.2,1.2,NaN,NaN,78.0,70.0,1005.6,...,12.5,18.2,Yes,0.8,No,31.040000,86.000000,14,13.744711,0.275513
29,2008-12-31,Albury,12.0,24.4,0.8,NaN,NaN,48.0,28.0,1006.1,...,16.9,22.7,No,0.0,No,31.280000,35.600000,14,11.989852,0.023282
30,2009-01-01,Albury,11.3,26.5,0.0,NaN,NaN,46.0,26.0,1004.5,...,19.7,25.7,No,0.0,No,33.800000,33.200000,14,18.967920,0.026149
31,2009-01-02,Albury,9.6,23.9,0.0,NaN,NaN,44.0,22.0,1014.4,...,14.9,22.1,No,0.0,No,30.680000,28.400000,8,0.132851,0.022851
32,2009-01-03,Albury,10.5,28.8,0.0,NaN,NaN,43.0,22.0,1018.7,...,17.1,26.5,No,0.0,No,2.937559,28.400000,11,19.213087,0.004053
33,2009-01-04,Albury,12.3,34.6,0.0,NaN,NaN,41.0,12.0,1015.1,...,20.7,33.9,No,0.0,No,43.520000,16.400000,10,6.068373,0.021015
34,2009-01-05,Albury,12.9,35.8,0.0,NaN,NaN,41.0,9.0,1012.6,...,22.4,34.4,No,0.0,No,44.960000,12.800000,13,8.853785,0.014769
35,2009-01-06,Albury,13.7,37.9,0.0,NaN,NaN,33.0,8.0,1010.9,...,23.1,36.8,No,0.0,No,2.140168,11.600000,4,5.531408,0.032997
36,2009-01-07,Albury,16.1,38.9,0.0,NaN,NaN,34.0,12.0,1007.0,...,25.2,38.4,No,0.0,No,48.680000,16.400000,16,14.883886,0.104314
37,2009-01-08,Albury,14.0,28.3,0.0,NaN,NaN,43.0,15.0,1011.9,...,17.9,27.6,No,0.0,No,35.960000,20.000000,8,12.445709,0.024849
38,2009-01-09,Albury,12.5,28.4,0.0,NaN,NaN,38.0,16.0,1017.8,...,17.2,26.6,No,0.0,No,36.080000,21.200000,7,12.147352,0.009662
39,2009-01-10,Albury,17.0,30.8,0.0,NaN,NaN,36.0,24.0,1013.4,...,20.2,29.3,No,0.0,No,38.960000,30.800000,10,5.683742,0.095927
40,2009-01-11,Albury,16.9,32.0,0.0,NaN,NaN,52.0,31.0,1009.9,...,22.8,30.0,No,0.0,No,40.400000,39.200000,9,13.812901,0.040577
41,2009-01-12,Albury,17.3,34.7,0.0,NaN,NaN,48.0,16.0,1014.1,...,24.2,33.2,No,0.0,No,43.640000,21.200000,10,8.856258,0.008862
42,2009-01-13,Albury,17.2,37.7,0.0,NaN,NaN,51.0,19.0,1015.7,...,24.3,35.7,No,0.0,No,47.240000,24.800000,7,7.624874,0.040566
43,2009-01-14,Albury,17.4,43.0,0.0,NaN,NaN,40.0,8.0,1011.6,...,25.6,41.5,No,0.0,No,53.600000,11.600000,6,11.304936,0.056486
44,2009-01-15,Albury,19.8,32.7,0.0,NaN,NaN,34.0,28.0,1008.4,...,27.6,27.1,No,0.0,No,41.240000,35.600000,8,4.991554,0.063468
45,2009-01-16,Albury,14.9,26.7,0.0,NaN,NaN,46.0,20.0,1014.1,...,18.0,25.5,No,0.0,No,34.040000,26.000000,10,9.010338,0.009374
46,2009-01-17,Albury,10.5,28.4,0.0,NaN,NaN,35.0,16.0,1019.7,...,16.0,25.8,No,0.0,No,36.080000,21.200000,17,10.886431,0.000000
47,2009-01-18,Albury,11.3,32.2,0.0,NaN,NaN,34.0,17.0,1019.7,...,20.9,30.5,No,0.0,No,40.640000,22.400000,13,17.118254,0.006661
48,2009-01-19,Albury,13.9,36.6,0.0,NaN,NaN,39.0,10.0,1015.8,...,22.0,34.4,No,0.0,No,45.920000,14.000000,10,12.129980,0.032568
49,2009-01-20,Albury,18.6,39.9,0.0,NaN,NaN,36.0,21.0,1010.1,...,26.8,37.7,No,0.8,No,49.880000,27.200000,8,9.120718,0.093815

## dropando colunas
 Amount of rain, Model estão vazando dados

In [4]:
rain = rain.drop(['modelo_vigente','amountOfRain'],axis = 1)

# Wind

In [5]:
wind = pd.concat([pd.read_csv('data/wind_table_01.csv',sep=',') for i in range(1,8)])

In [6]:
wind.head(5)

,date,location,wind_gustdir,wind_gustspeed,wind_dir9am,wind_dir3pm,wind_speed9am,wind_speed3pm
0,2007-11-01,Canberra,NW,30.0,SW,NW,6.0,20.0
1,2007-11-02,Canberra,ENE,39.0,E,W,4.0,17.0
2,2007-11-03,Canberra,NW,85.0,N,NNE,6.0,6.0
3,2007-11-04,Canberra,NW,54.0,WNW,W,30.0,24.0
4,2007-11-05,Canberra,SSE,50.0,SSE,ESE,20.0,28.0

# wind_rain

In [7]:
wind_rain =pd.merge(rain,wind,on=['date','location'],how ='left')
wind_rain.head()

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,...,temp,humidity,precipitation3pm,precipitation9am,wind_gustdir,wind_gustspeed,wind_dir9am,wind_dir3pm,wind_speed9am,wind_speed3pm
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,71.0,22.0,1007.7,...,29.48,28.4,12,5.11536,W,44.0,W,WNW,20.0,24.0
1,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,71.0,22.0,1007.7,...,29.48,28.4,12,5.11536,W,44.0,W,WNW,20.0,24.0
2,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,71.0,22.0,1007.7,...,29.48,28.4,12,5.11536,W,44.0,W,WNW,20.0,24.0
3,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,71.0,22.0,1007.7,...,29.48,28.4,12,5.11536,W,44.0,W,WNW,20.0,24.0
4,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,71.0,22.0,1007.7,...,29.48,28.4,12,5.11536,W,44.0,W,WNW,20.0,24.0

# Melhorando as colunas mais relevantes

## humidity_3pm

In [8]:
humidity9am = wind_rain[wind_rain['humidity3pm'].isna()]['humidity9am']
wind_rain.loc[wind_rain['humidity3pm'].isna(),'humidity3pm'] = humidity9am
humidity = wind_rain[wind_rain['humidity3pm'].isna()]['humidity']
wind_rain.loc[wind_rain['humidity3pm'].isna(),'humidity3pm'] = humidity

In [9]:
wind_rain[wind_rain['humidity3pm'].isna()]

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,...,temp,humidity,precipitation3pm,precipitation9am,wind_gustdir,wind_gustspeed,wind_dir9am,wind_dir3pm,wind_speed9am,wind_speed3pm
7898,2009-12-12,BadgerysCreek,NaN,32.6,NaN,NaN,NaN,NaN,NaN,NaN,...,41.12,NaN,7,12.526382,SSE,43.0,NaN,NaN,NaN,NaN
7899,2009-12-12,BadgerysCreek,NaN,32.6,NaN,NaN,NaN,NaN,NaN,NaN,...,41.12,NaN,7,12.526382,SSE,43.0,NaN,NaN,NaN,NaN
7900,2009-12-12,BadgerysCreek,NaN,32.6,NaN,NaN,NaN,NaN,NaN,NaN,...,41.12,NaN,7,12.526382,SSE,43.0,NaN,NaN,NaN,NaN
7901,2009-12-12,BadgerysCreek,NaN,32.6,NaN,NaN,NaN,NaN,NaN,NaN,...,41.12,NaN,7,12.526382,SSE,43.0,NaN,NaN,NaN,NaN
7902,2009-12-12,BadgerysCreek,NaN,32.6,NaN,NaN,NaN,NaN,NaN,NaN,...,41.12,NaN,7,12.526382,SSE,43.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260575,2017-03-19,Katherine,NaN,36.0,NaN,NaN,NaN,NaN,NaN,1008.8,...,45.20,NaN,8,16.909991,NaN,NaN,NaN,NaN,NaN,NaN
260597,2017-04-10,Katherine,NaN,35.5,0.0,NaN,NaN,NaN,NaN,1009.6,...,44.60,NaN,8,7.648125,NaN,NaN,NaN,NaN,NaN,NaN
260614,2017-04-27,Katherine,NaN,35.0,0.0,NaN,NaN,NaN,NaN,1014.3,...,44.00,NaN,12,12.611225,NaN,NaN,NaN,NaN,NaN,NaN
260617,2017-04-30,Katherine,16.0,32.3,0.0,8.0,NaN,NaN,NaN,1015.2,...,40.76,NaN,6,3.524253,NaN,NaN,NaN,NaN,NaN,NaN
260646,2017-05-29,Katherine,NaN,33.5,0.0,NaN,NaN,NaN,NaN,1014.7,...,42.20,NaN,20,18.529124,NaN,NaN,NaN,NaN,NaN,NaN

## humidity

In [10]:
humidity9am = wind_rain[wind_rain['humidity'].isna()]['humidity9am']
wind_rain.loc[wind_rain['humidity'].isna(),'humidity'] = humidity9am

# Pressure

## Pressure9am

In [11]:
pressure3pm = wind_rain[wind_rain['pressure9am'].isna()]['pressure3pm']
wind_rain.loc[wind_rain['pressure9am'].isna(),'pressure9am'] = pressure3pm

## Pressure3pm

In [12]:
pressure9am = wind_rain[wind_rain['pressure3pm'].isna()]['pressure9am']
wind_rain.loc[wind_rain['pressure3pm'].isna(),'pressure3pm'] = pressure9am

In [13]:
wind_rain[wind_rain['pressure3pm'].isna()]

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,...,temp,humidity,precipitation3pm,precipitation9am,wind_gustdir,wind_gustspeed,wind_dir9am,wind_dir3pm,wind_speed9am,wind_speed3pm
7898,2009-12-12,BadgerysCreek,NaN,32.6,NaN,NaN,NaN,NaN,NaN,NaN,...,41.12,NaN,7,12.526382,SSE,43.0,NaN,NaN,NaN,NaN
7899,2009-12-12,BadgerysCreek,NaN,32.6,NaN,NaN,NaN,NaN,NaN,NaN,...,41.12,NaN,7,12.526382,SSE,43.0,NaN,NaN,NaN,NaN
7900,2009-12-12,BadgerysCreek,NaN,32.6,NaN,NaN,NaN,NaN,NaN,NaN,...,41.12,NaN,7,12.526382,SSE,43.0,NaN,NaN,NaN,NaN
7901,2009-12-12,BadgerysCreek,NaN,32.6,NaN,NaN,NaN,NaN,NaN,NaN,...,41.12,NaN,7,12.526382,SSE,43.0,NaN,NaN,NaN,NaN
7902,2009-12-12,BadgerysCreek,NaN,32.6,NaN,NaN,NaN,NaN,NaN,NaN,...,41.12,NaN,7,12.526382,SSE,43.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246928,2017-06-22,Launceston,1.5,11.1,0.0,NaN,NaN,84.0,67.0,NaN,...,15.32,82.4,11,13.574009,NaN,NaN,NaN,NaN,NaN,NaN
246929,2017-06-23,Launceston,4.7,12.8,5.4,NaN,NaN,90.0,83.0,NaN,...,17.36,101.6,7,7.322059,NaN,NaN,NaN,NaN,NaN,NaN
246930,2017-06-24,Launceston,-0.5,11.4,8.6,NaN,NaN,96.0,58.0,NaN,...,15.68,71.6,13,6.841094,NaN,NaN,NaN,NaN,NaN,NaN
246931,2017-06-25,Launceston,1.8,12.8,0.0,NaN,NaN,84.0,73.0,NaN,...,17.36,89.6,7,1.220437,NaN,NaN,NaN,NaN,NaN,NaN
251547,2014-11-24,AliceSprings,NaN,34.9,5.0,15.6,3.1,57.0,32.0,NaN,...,43.88,40.4,9,4.923962,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
wind_rain.dropna(inplace=True)

In [15]:
wind_rain.shape

(71274, 27)

# Pycaret

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from pycaret.classification import *

## Setup pycaret

In [17]:
wind_rain

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,temp,humidity,precipitation3pm,precipitation9am,wind_gustdir,wind_gustspeed,wind_dir9am,wind_dir3pm,wind_speed9am,wind_speed3pm
10739,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No,44.24,17.6,5,15.165784,SSW,48.0,ENE,SW,6.0,20.0
10740,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No,44.24,17.6,5,15.165784,SSW,48.0,ENE,SW,6.0,20.0
10741,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No,44.24,17.6,5,15.165784,SSW,48.0,ENE,SW,6.0,20.0
10742,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No,44.24,17.6,5,15.165784,SSW,48.0,ENE,SW,6.0,20.0
10743,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No,44.24,17.6,5,15.165784,SSW,48.0,ENE,SW,6.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256489,2010-01-24,Darwin,28.0,31.9,0.0,7.4,3.6,72.0,68.0,1008.6,1006.0,7.0,7.0,29.4,31.0,No,No,40.28,83.6,15,14.199098,W,43.0,WSW,WNW,19.0,30.0
256490,2010-01-24,Darwin,28.0,31.9,0.0,7.4,3.6,72.0,68.0,1008.6,1006.0,7.0,7.0,29.4,31.0,No,No,40.28,83.6,15,14.199098,W,43.0,WSW,WNW,19.0,30.0
256491,2010-01-24,Darwin,28.0,31.9,0.0,7.4,3.6,72.0,68.0,1008.6,1006.0,7.0,7.0,29.4,31.0,No,No,40.28,83.6,15,14.199098,W,43.0,WSW,WNW,19.0,30.0
256492,2010-01-24,Darwin,28.0,31.9,0.0,7.4,3.6,72.0,68.0,1008.6,1006.0,7.0,7.0,29.4,31.0,No,No,40.28,83.6,15,14.199098,W,43.0,WSW,WNW,19.0,30.0
256493,2010-01-24,Darwin,28.0,31.9,0.0,7.4,3.6,72.0,68.0,1008.6,1006.0,7.0,7.0,29.4,31.0,No,No,40.28,83.6,15,14.199098,W,43.0,WSW,WNW,19.0,30.0

In [18]:
classification = setup(data = wind_rain,target = 'raintomorrow', session_id=42,fix_imbalance = True,remove_outliers= True,unknown_categorical_method= 'most_frequent')

In [19]:
best_model = compare_models()

In [15]:
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…